@inherits LayoutComponentBase

<!-- Preloader -->
@* <div id="preloader">
  <div class="preloader">
    <span></span>
    <span></span>
  </div>
</div> *@

<div class="page">

    <main>
        <Header />

        <main class="main-content">
            @Body

            <Footer />
        </main>

        

        <!-- Scroll Top -->
        <div class="scroll-top">
            <svg class="progress-circle svg-content" height="100%" viewBox="-1 -1 102 102" width="100%">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                      fill="none" stroke="black" stroke-width="2">
                </path>
            </svg>
        </div>
        <!-- Scroll Top End -->
    </main>
</div>

@* <div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div> *@
