@page "/pricing"

<!-- Promo Section Start -->
    <section class="promo-sec" style="background: url('images/promo-bg.jpg')no-repeat center center / cover;">
      <img src="images/promo-left.png" alt="" class="anim-img">
      <img src="images/promo-right.png" alt="" class="anim-img anim-right">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 text-center">
               <h1 class="display-2 text-white">Pricing Table</h1>
               <nav aria-label="breadcrumb mt-0">
                  <ol class="breadcrumb">
                     <li class="breadcrumb-item"><NavLink href="/">Home</NavLink></li>
                     <li class="breadcrumb-item active" aria-current="page">Pricing Table</li>
                  </ol>
               </nav>
            </div>
         </div>
      </div>
    </section>
   <!-- Promo Section End -->

   <!-- Pricing Section Start -->
   <section class="pricing-sec sec-padding">
      <div class="container">
         <div class="row justify-content-center g-4">
            <div class="col-md-6 col-lg-4">
               <div class="card pricing-card bg-shade border rounded-4">
                  <div class="card-head">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <h2 class="display-2"><span>$</span>19 <sub>/month</sub></h2>
                        <span class="badge-lg bg-warning rounded-5">Basic</span>
                     </div>
                     <p><img class="me-2" src="images/icons/wallet-2.png" alt="wallet">Billed annually or yearly</p>
                  </div>
                  <div class="card-body bg-white border rounded-2">
                     <ul>
                        <li>Downloadable Resources</li>
                        <li>Course Certification</li>
                        <li>Instructor Interaction</li>
                        <li>Exclusive Content Update</li>
                        <li>Access to Premium Courses</li>
                     </ul>
                  </div>
                  <a href="#" class="btn btn-outline-primary">Choose your Plan</a>
               </div>
            </div> <!-- Pricing Card End -->
            <div class="col-md-6 col-lg-4">
               <div class="card pricing-card bg-shade border rounded-4">
                  <div class="card-head">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <h2 class="display-2"><span>$</span>29 <sub>/month</sub></h2>
                        <span class="badge-lg bg-warning rounded-5">Standard</span>
                     </div>
                     <p><img class="me-2" src="images/icons/wallet-2.png" alt="wallet">Billed annually or yearly</p>
                  </div>
                  <div class="card-body bg-white border rounded-2">
                     <ul>
                        <li>Downloadable Resources</li>
                        <li>Course Certification</li>
                        <li>Instructor Interaction</li>
                        <li>Exclusive Content Update</li>
                        <li>Access to Premium Courses</li>
                     </ul>
                  </div>
                  <a href="#" class="btn btn-outline-primary">Choose your Plan</a>
               </div>
            </div> <!-- Pricing Card End -->
            <div class="col-md-6 col-lg-4">
               <div class="card pricing-card bg-shade border rounded-4">
                  <div class="card-head">
                     <div class="d-flex align-items-center justify-content-between mb-3">
                        <h2 class="display-2"><span>$</span>39 <sub>/month</sub></h2>
                        <span class="badge-lg bg-warning rounded-5">Premium</span>
                     </div>
                     <p><img class="me-2" src="images/icons/wallet-2.png" alt="wallet">Billed annually or yearly</p>
                  </div>
                  <div class="card-body bg-white border rounded-2">
                     <ul>
                        <li>Downloadable Resources</li>
                        <li>Course Certification</li>
                        <li>Instructor Interaction</li>
                        <li>Exclusive Content Update</li>
                        <li>Access to Premium Courses</li>
                     </ul>
                  </div>
                  <a href="#" class="btn btn-outline-primary">Choose your Plan</a>
               </div>
            </div> <!-- Pricing Card End -->
         </div>
      </div>
   </section>
   <!-- Pricing Section End -->
   
   <!-- Newsletter Section Start -->
   <section class="newsletter bg-primary">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-lg-8">
               <span class="badge-lg bg-white text-primary rounded-5">Get Every Single Updates</span>
               <h2 class="display-2 fw-bold text-info">Subscribe <span class="color-info">Newsletter</span></h2>
            </div>
            <div class="col-lg-4">
               <div class="newsletter-form">
                  <form action="#">
                     <input class="form-control rounded-5 bg-info" type="email" placeholder="Email Address">
                     <button class="btn btn-secondary w-100 rounded-5 mt-4">Subscribe Newsletter</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Newsletter Section End -->

@code {

}
