@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="w-100" style="max-width: 400px;">
        <h2 class="text-center mb-4">Reset password confirmation</h2>
        <p role="alert">
            Your password has been reset. Please <a href="Account/Login">click here to log in</a>.
        </p>
    </div>
</div>